*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "PalatinoLinotype";
    src: url(../fonts/PalatinoLinotype.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
body{
    width: 100%;
    font-weight: 400;
    overflow-x: hidden;
}
/* --------------------------- Header --------------------------- */
header{
    width: 100%;
    height: 80px;
    display: flex;
    font-family: "Georgia", sans-serif;
    font-size: 14px;
    padding: 0 10% 0 10%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}
header img{
    width: 78px;
    height: 40px;
}
header nav a{
    color: #353732;
}
header nav{
    width: 191px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
    opacity: 0.85;
}
.Georgia{
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    color: #45525b;
}
.Palatino{
    font-family: "PalatinoLinotype", sans-serif;
    font-weight: 400;
    color: #45525b;
}
.Poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #353732;
    font-size: 12px;
}
/* --------------------------- Section 1 --------------------------- */
.Sec1Div{
    width: 100%;
    height: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sec1Div div{
    margin-top: 67px;
}
h1{
    font-size: 36px;
    font-family: "PalatinoLinotype", sans-serif;
    font-weight: 400;
    color: #353732;
    margin-top: 17px;
}
/* --------------------------- Section 2 --------------------------- */
.Sec2Div{
    width: 100%;
    height: 1392px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TravelDiv{
    width: 66%;
    height: 550px;
    background-color: white;
    padding-bottom: 31px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding-bottom: 31px;
}
.TravelDiv:hover{
    border: 1px solid #f8f8f8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.TravelDiv img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 284px;
}
.TravelDiv h2{
    font-size: 25px;
    margin-top: 12px;
}
.Texts{
    padding: 17px 24px 0 21px;
    height: 220px;
}
.Delectus{
    font-size: 14px;
    line-height: 22.4px;
    margin-top: 12px;
}
.TravelDiv .Date{
    font-size: 11px;
    margin-top: 50px;
}
.FirstRow{
    display: flex;
    width: 53.3%;
    height: 553px;
}
.TwoDivsSmall{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 17px;
    justify-content: space-between;
    height: 553px;
}
.TwoDivsSmall .Exercise{
    height: 258px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;
}
.TwoDivsSmall div img{
    width: 100%;
    height: 53%;
    margin-bottom: 17px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Exercise div{
    padding: 0 60px 30px 20px;
}
.Exercise .Date{
    font-size: 11px;
}
.TwoDivsSmall .Exercise:hover{
    border: 1px solid #f8f8f8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.Sec2Div h3{
    font-size: 16px;
    color: #45525b;
    font-weight: 400;
    margin: 8px 0 10px 0;
}
.TechOne{
    height: 258px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;
}
.TechOne div{
    padding: 0 60px 30px 20px;
}
.TechOneText{
    font-size: 18px;
}
.TechOne .Date{
    font-size: 11px;
}
.TwoDivsSmall .TechOne:hover{
    border: 1px solid #f8f8f8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.SecondRow{
    display: flex;
    width: 53.3%;
    justify-content: space-between;
    margin-top: 16px;
}
.SecondRow img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 210px;
}
.SecondRow .Frame{
    width: 49%;
    background-color: white;
    border-radius: 10px;
    height: 334px;
    border: 1px solid transparent;
}
.SecondRow .Frame div{
    padding: 17px 0 30px 21px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.SecondRow .Date{
    font-size: 11px;
}
.SecondRow .Frame:hover{
    border: 1px solid #f8f8f8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.ThirdRow{
    width: 53.3%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.ThirdRow img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 137px;
}
.ThirdRow .Frame{
    border: 1px solid transparent;
    width: 32%;
    border-radius: 10px;
    height: 273px;
    background-color: white;
}
.ThirdRow .Frame .Date{
    font-size: 11px;
}
.ThirdRow .Frame div{
    padding: 17px 0 0 20px;
}
.ThirdRow .Frame h3{
    font-size: 18px;
}
.ThirdRow .Frame:hover{
    border: 1px solid #f8f8f8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
/* --------------------------- Section 3 --------------------------- */
.Sec3Div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 387px;
}
.Sec3Div .DivSignUp{
    width: 26%;
    margin-right: 19px;
    color: #353732;
}
.Sec3Div .DivSignUp h2{
    font-size: 28px;
    margin-bottom: 11px;
}
.Sec3Div .DivSignUp p{
    font-size: 16px;
    line-height: 22.4px;
}
.Sec3Div a{
    padding: 10px 20px;
    background-color: #353732;
    color: white;
    border-radius: 6px;
    font-family: "Georgia", sans-serif;
    width: 100px;
    margin-top: 10px;
    text-align: center;
}
.registerStuff{
    display: flex;
    flex-direction: column;
    width: 26%;
}
.registerStuff input{
    background: rgba(82, 80, 59, 0.05);
    width: 100%;
    height: 38px;
    font-size: 18px;
    color: #353732;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding-left: 5px;
}
.EmailText{
    margin-top: 10px;
}
/* --------------------------- Section 4 --------------------------- */
.Sec4Div{
    width: 100%;
    height: 2736px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 112px 336px 100px 336px;
    justify-content: space-between;
    color: #45525b;
}
.WithImageDiv{
    display: flex;
    width: 100%;
}
.WithImageDiv div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.NonImageDiv{
    width: 100%;
    height: 94px;
}
.DateSec4{
    font-size: 10px;
    font-family: "Georgia", sans-serif;
}
.SecondTextSec4{
    font-size: 16px;
    font-family: "Georgia", sans-serif;
    margin: 2px 0 6px 0;
}
.FirstTextSec4{
    font-size: 17px;
    font-family: "PalatinoLinotype", sans-serif;
}
.Sec4Div div:hover .FirstTextSec4{
    text-transform: uppercase;
}
.ViewArchive{
    color: #575445;
    font-size: 15px;
    font-family: "Georgia", sans-serif;
    width: 108px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
/* --------------------------- Footer --------------------------- */
footer{
    width: 100%;
    padding-right: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 356px;
    background-color: white;
    font-family: "Georgia", sans-serif;
}
footer ul li{
    font-size: 14px;
    list-style: none;
    display: inline;
    margin-right: 20px;
}
footer ul li:hover{
    font-size: 15px;
}
footer ul{
    margin-top: 19px;
}
footer a{
    color: #45525b;
}
.LogoFooter{
    margin-bottom: 9px;
}